

<div class=wrapper_with_padding>
<!--<%= render 'form', note: @note %>-->
	<h1>Editing Note</h1>
	  <h1>

	<%= form_with(model: @note, local: true) do |form|%>
	  <div class="field">
	    By user: <%= @note.user.name %>
	  </div>

	  <div class="field">
		<%= form.label :title%>
	    <%= form.text_field :title %>
	  </div>

	  <div class="field">
	    <%= form.label :text%>
	    <%= form.text_field :text %>
	  </div>

	  <div class="actions">
	    <%= form.submit "Save", class: "button" %>
	  </div>

	<% end %>


<%= link_to 'Back', notes_path, class: "button" %>
</div>
