<p id="notice"><%= notice %></p>

<h1>Resquests</h1>
     
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="clearfix" id="notes">
  <% if @resquests.any? %>
      <% @resquests.each do |resquests| %>
     <% if resquests.user1 == session[:user] %> <!-- Que compruebe friends.user1.id con algún metodo -->
        <div class="friendships">
      <table>
          <tr>
      <td><%= resquests.user2 %></td>
      <td><%= link_to '', new_friendship_path(user1: resquests.user1, user2: resquests.user2), method: "put", class:"fas fa-plus fa-2x" %></td>
       <td><%= link_to '', resquests, method: :delete, data: { confirm: 'Are you sure?' }, class: "fas fa-trash-alt fa-2x" %></td>
      </tr>
        </table>
        </div>
    <% end %>
      <% end %>
    <%else%>
    <th>You do not have any friendships</th>
    <%end%>
  
  </div>
</div>

<%= link_to 'New Resquest', new_resquest_path %>
