<%= javascript_include_tag 'application'%>
<%= csrf_meta_tag %>
<!-- No quitar!! -->
<p id="notice"><%= notice %></p>
<div class="wrapper_with_padding">
  <div class="clearfix" id="users">
	<h1>Users</h1>
 	<div class="actions1">
       <%= link_to 'New User', new_user_path, class: "button" %>
     </div>
	<div class="col-xs-12 col-sm-6 col-md-4">
	   <% @users.each do |user| %>
	    <div class="user">
	    <div id="user">
	      <table>
	      <tr>
		<td id="name"><%= user.name %></td>
		<td><%= link_to '', user, class:"far fa-eye fa-2x" %></td>
		<td><%= link_to '', edit_user_path(user), class: "fas fa-edit fa-2x"%></td>
		<td><%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"fas fa-trash-alt fa-2x" %></td>
	      </tr>
	    </table>
	    </div>
	    </div>
	   <% end %>
	  </div>

    
  
  </div>
</div>
