<%= javascript_include_tag 'application'%>
<%= csrf_meta_tag %>
<!-- No quitar!! -->
<div class="wrapper_with_padding">
	<div class="row">
	    <div class="col"><h1>My Profile</h1></div>

	     <div class="col-xs-12 col-sm-12 col-md-6">
		<div class="actions">
			<%= link_to 'Edit profile', edit_user_path(@user), class: "button" %>
			<%= link_to 'Delete profile', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>

		</div>
	</div>

	<div class="row"><h2>About me</h2></div>

	<div class="row">
		<div class="field">
		  <p><strong>Username:  </strong>
		  <%= @user.name %></p>
		</div>
	</div>

	<div class="row">
		<div class="field">
		  <p><strong>Email:  </strong>
		  <%= @user.name %></p>
		</div>
	</div>
	<div class="row">
		<div class="field">
		  <p><strong>Admin:  </strong>
		  <%= @user.admin %></p>
		</div>
	</div>
	</br></br>
	<div class="row">
		<div class="col"><h2>My friends</h2></div>
		<div class="col" style="width: 100%;">
		  <%= link_to "New Friend", new_request_path, class: "button" %>
		  <%= link_to "Pending requests", requests_path, class: "button" %></div>
	</div>
	 <div class="field">
		<div class="col-xs-12 col-sm-6 col-md-4">
		<% if Friendship.all.any? %>
		    <% Friendship.all.each do |friendship| %>
		    <% if session[:user_id] == friendship.user1 %>
		      	<div id="user">
			  <table>
			    <tr>
				<td id="name"><%= friendship.user2 %></td>
				<td><%= link_to '', friendship, method: :delete, data: { confirm: 'Are you sure?' }, class:"fas fa-trash-alt fa-2x"%></td>

			    </tr>
			   </table>
			  </div>

		   <% end %>
	    	<% end %>
		<% else %>
		    <div class="row">
		    	<div class="col"><h2>Add a new friend</h></div>
		    </div>
		    <div class="row">
		    	<p>It seems that you haven't created any note. Would you like to?</p>
		    </div>
	    <% end %>
	    </div>
	  </div>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="clearfix" id="users">
	<% if Friendship.any? %>
	    <% Friendship.all.each do |friendship| %>
		 <% if friendship.user1 == session[:user] %> <!-- Que compruebe friends.user1.id con algún metodo -->
 		    <div id="user">
			<table>
		    	<tr>
			<td id="name"><%= friendship.user2 %></td>
			<td><%= link_to '', friendship, method: :delete, data: { confirm: 'Are you sure?' }, class: "fas fa-trash-alt fa-2x" %></td>
			</tr>
		   	</table>
		    </div>
		<% end %>
	    <% end %>
	  <%else%>
		<th>You do not have any friendships</th>
	  <%end%>

	</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
<div class="clearfix" id="users">
  <% if Friendship.any? %>
      <% Friendship.all.each do |friendship| %>
     <% if friendship.user2 == session[:user] %> <!-- Que compruebe friends.user1.id con algún metodo -->
         <div id="user">
      <table>
          <tr>
      <td id="name"><%= friendship.user1 %></td>
      <td><%= link_to '', friendship, method: :delete, data: { confirm: 'Are you sure?' }, class: "fas fa-trash-alt fa-2x" %></td>
      </tr>
         </table>
        </div>
    <% end %>
      <% end %>
    <%else%>
    <th>You do not have any friendships</th>
    <%end%>

  </div>
</div>

</div>
