<p id="notice"><%= notice %></p>

<h1>Shared Collections</h1>

<table>
  <thead>
    <tr>
      <th>Note collection</th>
      <th>O user</th>
      <th>D user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shared_collections.each do |shared_collection| %>
      <tr>
        <td><%= shared_collection.note_collection %></td>
        <td><%= shared_collection.o_user %></td>
        <td><%= shared_collection.d_user %></td>
        <td><%= link_to 'Show', shared_collection %></td>
        <td><%= link_to 'Edit', edit_shared_collection_path(shared_collection) %></td>
        <td><%= link_to 'Destroy', shared_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shared Collection', new_shared_collection_path %>
