<p id="notice"><%= notice %></p>

<p>
  <strong>Note collection:</strong>
  <%= @shared_collection.note_collection %>
</p>

<p>
  <strong>O user:</strong>
  <%= @shared_collection.o_user %>
</p>

<p>
  <strong>D user:</strong>
  <%= @shared_collection.d_user %>
</p>

<%= link_to 'Edit', edit_shared_collection_path(@shared_collection) %> |
<%= link_to 'Back', shared_collections_path %>
