<%= form_with(model: note_collection, local: true) do |form| %>
  <% if note_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note_collection.errors.count, "error") %> prohibited this note_collection from being saved:</h2>

      <ul>
      <% note_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="wrapper_with_padding3">
  <div class="clearfix" id="notes">
    	<%= form.label :name %>
    	<%= form.text_field :name %>
        <%= form.label :user_id %>
    	<%= form.text_field :user_id %>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<% if Note.all.any? %>
		    <% Note.all.each do |note| %>
		    <% if session[:user_id] == note.user_id %>
		      	<div class="note">
			  <table>
			    <tr>
				<td><%= note.title %></td>
				<td><%= link_to '', note_collections_create_path(note_collection_name: @note_collection.name, note_id: note.id), method: "put", class:"fas fa-plus fa-2x" %></td>

			    </tr>
			   </table>
			  </div>
		  	
		   <% end %>
	    	<% end %>
		<% else %>
		    <div class="row">
		    	<h2>Add a new note</h2>
		    </div>
		    <div class="row">
		    	<p>It seems that you haven't created any note. Would you like to?</p>
			<%= link_to "New Note", new_note_path, class: "button" %>
		    </div>
	    <% end %>
    </div>

	  <div class="actions">
	    <%= form.submit "Save", class: "button"%>
	    <%= link_to 'Back', note_collections_path, class: "button"  %>
	  </div>
  </div>
</div>
<% end %>
