<%= form_with(model: note_collection, local: true) do |form| %>
  <% if note_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note_collection.errors.count, "error") %> prohibited this note_collection from being saved:</h2>

      <ul>
      <% note_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="wrapper_with_padding3">
  <div class="clearfix" id="notes">
    	<%= form.label :name %>
    	<%= form.text_field :name %>

	  <div class="actions">
	    <%= form.submit "Save", class: "button"%>
	    <%= link_to 'Back', note_collections_path, class: "button"  %>
	  </div>
  </div>
</div>
<% end %>
