<p id="notice"><%= notice %></p>

<h1>Note Collections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @note_collections.each do |note_collection| %>
      <tr>
        <td><%= note_collection.name %></td>
        <td><%= note_collection.user %></td>
        <td><%= note_collection.note %></td>
        <td><%= link_to 'Show', note_collection %></td>
        <td><%= link_to 'Edit', edit_note_collection_path(note_collection) %></td>
        <td><%= link_to 'Destroy', note_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note Collection', new_note_collection_path %>
