<div class="wrapper_with_padding">
  <div id="note_show">
    <h1> <%= @note_collection.name %></h1>

    <p id="notice"><%= notice %></p>
<!--
<p>
  <strong>Name:</strong>
  <%= @note_collection.name %>
</p>
-->

    <div class="field">
      <strong>User:</strong>
      <%= @note_collection.user.name %>
    </div>

  <p>
  <!-- %= @note_collection.note_collection %-->
  <% unless BelongsToCollection.blank? %>
    <strong>Notes:</strong>
    <div id="note">
      <% BelongsToCollection.all.each do |belongs| %>
        <% if @note_collection.user_id == session[:user_id]%>
          	<div class="field">
          	  <p><strong>Note user:  </strong>
          	  <%= User.find(@note_collection.user_id).name %></p>
          	</div>

          	<div class="field">
          	  <p><strong>Title:</strong>
          	  <br><%= Note.find(belongs.note_id).title %></p>
          	</div>

        <% end %>
      <% end %>
      </div>
    <% else %>
      <p>This collection doesn't seem to have any note.</p>
      <%= link_to 'Add notes', new_belongs_to_collection_path(col_id: @note_collection.id), class: "button" %>
    <% end %>
  </p>

<%= link_to 'Edit', edit_note_collection_path(@note_collection), class: "button" %>
<%= link_to 'Back', note_collections_path, class: "button" %>
</div>
</div>
