<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @note_collection.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @note_collection.user %>
</p>

<p>
  <strong>Note:</strong>
  <%= @note_collection.note %>
</p>

<%= link_to 'Edit', edit_note_collection_path(@note_collection) %> |
<%= link_to 'Back', note_collections_path %>
