

<div class=wrapper_with_padding>
<!--%= render 'form', note: @note %>-->
	<h1>Editing Note</h1>


	<%= form_with(model: @note, local: true) do |form|%>

	  <!--<div class="field">
	    %= form.label :user %>
	    %= @note.user.name %>
	  </div>-->

	  <div class="field">
			<%= form.label :title %>
	    <%= form.text_field :title %>
	  </div>

	  <div class="field">
	    <%= form.label :text%>
	    <%= form.text_area :text %>
	  </div>

  	<div class="field">
    	<% if @note.image.attached? %>
    		<%= image_tag @note.image %>
			<% end %>
  	</div>

		<div class="field">
			<%= form.file_field :image %>
		</div>

	  <div class="actions">
	    <%= form.submit "Save", class: "button" %>
	    <%= link_to 'Back', notes_path, class: "button" %>
	  </div>

	<% end %>

</div>

		<!-- if @note.image.attached?
					image_tag @note.image
					button delete image?
				else
					form.label :image
					form.file_field :image
		-->
