<%= javascript_include_tag 'application'%>
<%= csrf_meta_tag %>
<!-- No quitar!! -->
<div class="wrapper_with_padding">
  <div class="clearfix" id="notes">
	<div class="row">
	    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-6""><h1>My Notes</h1></div>
	    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6""><%= link_to "New Note", new_note_path, class: "button" %></div>
	</div>

	  <% unless @notes.blank? %>
	    <% @notes.each do |note| %>
	    <% if session[:user_id] == note.user_id %>
	      <div class="note">
		
		  <table>
		    <tr>
			<td><%= note.title %></td>
			<td><%= link_to '', note, class:"far fa-eye" %></td>
			<td><%= link_to '', edit_note_path(note), class: "fas fa-edit"%></td>
			<td><%= link_to '', note, method: :delete, data: { confirm: 'Are you sure?' }, class:"fas fa-trash-alt"%></td>
		    </tr>
		   </table>
     	     </div>
	  <% end %>
    <% end %>
    <% else %>
    <h2>Add a new note</h2>
    <p>It seems that you haven't created any note. Would you like to?</p>
    
    <% end %>
  </div>
  

</div>
