<%= form_with(model: shared_collection, local: true) do |form| %>
  <% if shared_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shared_collection.errors.count, "error") %> prohibited this shared_collection from being saved:</h2>

      <ul>
      <% shared_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :note_collection_id, :name=>"note_collection_id", :value=>1 %>

    <%@list=Array.new %>
    <% Friendship.all.each do |friendship| %>
      <% if friendship.user1 == session[:user] %>
        <% @list.push User.find_by(name: friendship.user2) %>

      <% else %>
        <% if friendship.user2 == session[:user] %>
          <% @list.push User.find_by(name: friendship.user1) %>

        <% end %>
      <% end %>
     <% end %>


    <div class="field">
      <%= form.select(:d_user_id, options_for_select(@list.map{|aux| [aux.name, aux.id]}))  %>
      <!-- %= form.text_field :d_user_id % -->
    </div>
  <div class="actions">
    <%= form.submit 'New Shared Collection', class: "button" %>
  </div>
<% end %>
