<%= javascript_include_tag 'application'%>
<%= csrf_meta_tag %>
<!-- No quitar!! -->

<div class="wrapper_with_padding3">
  <div class="clearfix" id="notes">
	<div class="row">
	    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-6""><h1 class="title_notes">My Collections</h1>
	    </div>
	</div>
	<div class="row">
	    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6""><%= link_to "New Collection", new_note_collection_path, class: "button" %>
	    </div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
	<% unless @note_collections.blank? %>
	    <% @note_collections.each do |note_collection| %>
	    <% if session[:user_id] == note_collection.user_id %>
	      	<div class="collection">
		  	<table>
		    	<tr>
			<td><%= note_collection.name %></td>
			<td><%= link_to '', note_collection, class:"far fa-eye fa-2x" %></td>
			<td><%= link_to '', edit_note_collection_path(note_collection), class: "fas fa-edit fa-2x"%></td>
			<td><%= link_to '', new_belongs_to_collection_path(col_id: note_collection.id), class: "fas fa-edit fa-2x"%></td>
			<td><%= link_to '', new_shared_collection_path, class: "fas fa-edit fa-2x"%></td>
			<td><%= link_to '', note_collection, method: :delete, data: { confirm: 'Are you sure?' }, class:"fas fa-trash-alt fa-2x"%></td>
		    	</tr>
			<tr>
       			 <td><%= note_collection.user.name %></td>
             <% BelongsToCollection.all.each do |belongs| %>
              <% if belongs.col_id == note_collection.id %>
                <td><%= Note.find(params[belongs.note_id]).title %></td>
              <% end%>
              <% end %>


			</tr>
		   	</table>
		   </div>
	  	<% end %>
    	<% end %>
    <% else %>
	    <div class="row">
	    	<h2>Add a new collection</h2>
	    </div>
	    <div class="row">
	    	<p>It seems that you haven't created any collection. Would you like to?</p>
	    </div>
    <% end %>
    </div>




  </div>
</div>
