<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @note_collection.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @note_collection.user.name %>
</p>

<p>
<!-- %= @note_collection.note_collection %-->
<% if BelongsToCollection.all.any? %>
  <strong>Notes:</strong>
    <% BelongsToCollection.all.each do |belongs| %>
      <% if @note_collection.user_id == belongs[:user_id]%>
      <strong> Note user: </strong>
      <%= belongs[:user_id] %>
      <%= belongs[:col_id]%>
      <% end %>
    <% end %>
  <% else %>
    <p>This collection doesn't seem to have any note.</p>
  <% end %>
</p>

<%= link_to 'Edit', edit_note_collection_path(@note_collection) %> |
<%= link_to 'Back', note_collections_path %>
