<%= form_with(model: belongs_to_collection, local: true) do |form| %>
  <% if belongs_to_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(belongs_to_collection.errors.count, "error") %> prohibited this belongs_to_collection from being saved:</h2>

      <ul>
      <% belongs_to_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :note_collection_id, :name=>"note_collection_id", :value=>1 %>
  
  <%@list=Array.new %>
  <% Note.all.each do |aux| %>
    <% if aux.user_id == session[:user_id] %>
      <% @list.push aux %>

   <% end %>
   <%end%>


  <div class="col-xs-12 col-sm-6 col-md-4" style="width: 100%;">
    <% if @list.any? %>
        <%=form.select(:note_id, @list.map{|aux| [aux.title, aux.id]})%>

    <% else %>
        <div class="row">
          <h2>Add a new note</h2>
        </div>
        <div class="row">
          <p>It seems that you haven't created any note. Would you like to?</p>
      <%= link_to "New Note", new_note_path, class: "button" %>
        </div>
      <% end %>
    </div>
  <div class="row">
    <%= form.submit 'Add note', class: "button" %>
  </div>
<% end %>
