<p id="notice"><%= notice %></p>

<h1>Belongs To Collections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @belongs_to_collections.each do |belongs_to_collection| %>
      <tr>
        <td><%= link_to 'Show', belongs_to_collection %></td>
        <td><%= link_to 'Edit', edit_belongs_to_collection_path(belongs_to_collection) %></td>
        <td><%= link_to 'Destroy', belongs_to_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Belongs To Collection', new_belongs_to_collection_path %>
