<p id="notice"><%= notice %></p>
<div class="wrapper_with_padding">
  <div class="clearfix" id="users">
	<h1>Pending resquests</h1>

	<div class="actions">
	<%= link_to 'New Resquest', new_request_path, class: "button"  %>
	</div>
	     
	<div class="col-xs-12 col-sm-6 col-md-4">
	  <% if @requests.any? %>
	      <% @requests.each do |requests| %>
	     <% if requests.user2 == session[:user] %> 
		<div id="user">
	      <table>
		  <tr>
	      	<td id="name"><%= requests.user1 %></td>
	     	 <td><%= link_to '',  new_friendship_path(user1: requests.user1, user2: requests.user2), method: "get", class:"fas fa-check fa-2x" %></td>
	       	<td><%= link_to '', requests, method: :delete, data: { confirm: 'Are you sure?' }, class: "fas fa-trash-alt fa-2x" %></td>
	      </tr>
		</table>
		</div>
	    <% end %>
	      <% end %>
	    <%else%>
	    <th>You do not have any friendships</th>
	    <%end%>
	  
	</div>
<br><br><br>
	
  </div>
</div>
