<p id="notice"><%= notice %></p>

<p>
  <strong>User1:</strong>
  <%= @request.user1 %>
</p>

<p>
  <strong>User2:</strong>
  <%= @request.user2 %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @request.accepted %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', user_path(session[:user_id]) %>
