<%= form_with(model: belongs_to_collection, local: true) do |form| %>
  <% if belongs_to_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(belongs_to_collection.errors.count, "error") %> prohibited this belongs_to_collection from being saved:</h2>

      <ul>
      <% belongs_to_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <% if Note.all.any? %>
        <% Note.all.each do |note| %>
        <% if session[:user_id] == note.user_id %>
            <div class="note">
        <table>
          <tr>
        <td><%= note.title %></td>
        <td><%= link_to '', new_belongs_to_collection_path(col_id: :col_id, note_id: note.id), method: "put", class:"fas fa-plus fa-2x" %></td>

          </tr>
         </table>
        </div>

       <% end %>
        <% end %>
    <% else %>
        <div class="row">
          <h2>Add a new note</h2>
        </div>
        <div class="row">
          <p>It seems that you haven't created any note. Would you like to?</p>
      <%= link_to "New Note", new_note_path, class: "button" %>
        </div>
      <% end %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
