<!DOCTYPE html>
<html>
  <head>
    <title>NotesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


  </head>

  <body>
  <header>
    <div class="header_inner">
	<div class="row" >
	    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-6" ><%= link_to image_tag('logo.jpg'), root_path, id: "logo" %></div>
	    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6" style="background: #455A64">
	      <nav>
    <% if session[:user_id] != nil %>
      <%= link_to "My notes", notes_path %>
      <%= link_to "My collections", notes_path %>
		  <%= link_to 'My profile', user_path(session[:user_id])%>
  		<%= link_to "Sing out", session_destroy_path %>
    <% end %>
    <%= link_to "Log In", new_session_path %>
	      </nav>
	  </div>
	</div>
    </div>
  </header>

    <%= yield %>
  </body>
</html>
