<%= form_with(model: shared_note, local: true) do |form| %>
  <% if shared_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shared_note.errors.count, "error") %> prohibited this shared_note from being saved:</h2>

      <ul>
      <% shared_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :note_id, :name=>"note_id", :value=>1 %>

  <!-- div class="field">
    < %= form.label :user1_id %>
    < %= form.text_field :user1_id %>
  </div -->

  <div class="field">
    <%= form.label :d_user_id %>
    <%= form.text_field :d_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
