<p id="notice"><%= notice %></p>

<h1>Shared Notes</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>User1</th>
      <th>User2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shared_notes.each do |shared_note| %>
      <tr>
        <td><%= shared_note.note.title %></td>
        <td><%= shared_note.o_user.name %></td>
        <td><%= shared_note.d_user.name %></td>
        <td><%= link_to 'Show', shared_note %></td>
        <td><%= link_to 'Edit', edit_shared_note_path(shared_note) %></td>
        <td><%= link_to 'Destroy', shared_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shared Note', new_shared_note_path %>
