<!DOCTYPE html>
<html>
  <head>
    <title>NotesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    
	
  </head>

  <body>
  <header>
    <div class="header_inner">
      <%= link_to image_tag('logo.jpg'), root_path, id: "logo" %>
      <nav>
	<%= link_to "New Note", new_note_path %>
        
      </nav>
    </div>
  </header>


    <%= yield %>
  </body>
</html>
